{% extends "templates/base.html" %}

{% block content_header %}Details{% end %}

{% block content %}
<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header">
                                    <i class="fa fa-bullhorn"></i>
                                    <h3 class="box-title">{{ object.__class__.__name__ }}</h3>
                                    <button class="btn btn-info btn-sm btn-bh">Edit</button>
                                </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl> 
                    {% for key, value in property_map.iteritems() %}
                    <dt>{{ key }}</dt>

                    <dd>{% raw value %}</dd> 
                    {% end %}
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
{% end %}
