{% extends "admin/base.html" %}

{% block content_header %}
<div class="main-header">
    <h2>{{object.__class__.__name__}} Details</h2>
    <em>an example of dash</em>
</div>
{% endblock %}

{% block content %}
<div class="main-content">
    <ul class="list-unstyled bottom-30px">
        {% for key, value in property_map.iteritems() %}
        <li class="data-row">
            <span class="data-name">{{key}}</span>
            <span class="data-value">{{value}} </span>
        </li>
        {% endfor %}
    </ul>
</div><!-- /main-content -->
{% endblock %}
