<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/admin/static/flatui/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/admin/static/flatui/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="/admin/static/flatui/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->


    <!-- Load JS here for greater good =============================-->
    <script src="/admin/static/flatui/js/jquery-1.8.3.min.js"></script>
    <script src="/admin/static/flatui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/admin/static/flatui/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/admin/static/flatui/js/bootstrap.min.js"></script>
    <script src="/admin/static/flatui/js/bootstrap-select.js"></script>
    <script src="/admin/static/flatui/js/bootstrap-switch.js"></script>
    <script src="/admin/static/flatui/js/flatui-checkbox.js"></script>
    <script src="/admin/static/flatui/js/flatui-radio.js"></script>
    <script src="/admin/static/flatui/js/jquery.tagsinput.js"></script>
    <script src="/admin/static/flatui/js/jquery.placeholder.js"></script>
  </body>
</html>
